__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.idea/
*.msi
~$*
*.docx
# convert.py (đã cho phép push)
# full_line.json (đã cho phép push)
.pixi
__pypackages__/
*.log
db.sqlite3
.ipynb_checkpoints
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
